.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

.p-top-0 {
  top:  0;
}

.p-center-x {
  left: 50%;
  transform: translateX(-50%);  
}